<div class="edit-thing">
	<h1>Account</h1>
	
	<div class="page-content">
	
	<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
	  <%= f.error_notification %>
		
		<%= f.input :name, input_html: { placeholder: "Name", autocomplete: "off" } %>
	  <%= f.input :email, input_html: { placeholder: "Email"} %>
	  <%= f.input :password, label: "New Password", autocomplete: "off", input_html: { placeholder: "New Password"} %>
	  <%= f.input :current_password, input_html: { placeholder: "Current Password"} %>
	
	  <div class="submit">
	    <%= f.submit "Save", class: "btn" %>
	  </div>
	<% end %>
	
	<p><%= link_to "Delete account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>
		
	</div>
</div>