<div class="session">
	<h1>Sign up</h1>
	
	<div class="page-content">
		<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		  <%= f.error_notification %>
		
		  <%= f.input :name, input_html: { placeholder: "Name", autocomplete: "off" } %>
		  <%= f.input :email, input_html: { placeholder: "Email", autocomplete: "off" } %>
		  <%= f.input :password, input_html: { placeholder: "Password"} %>
		
		  <div class="submit">
		    <%= f.submit "Yep", class: "btn" %>
		  </div>
		<% end %>
		
	</div>
</div>