<%= simple_form_for(@thing, html: { class: ""}) do |f| %>
  <%= f.error_notification %>

  <%= f.input :description, as: :text, input_html: { rows: "3", placeholder: "What?"} %>
  <%= f.input :the_date, as: :string, input_html: { id: "datepicker", placeholder: "When?"} %>
  

  <div class="submit create">
    <%= f.button :submit, "+" %>
  </div>
<% end %>