<div id="add-new" class="add-new accordion-body collapse">
	<%= simple_form_for :thing do |f| %>
	  <%= f.error_notification %>
	
	  <%= f.input :description, as: :text, input_html: { rows: "1", placeholder: "What?"} %>
	  <%= f.input :the_date, as: :string, input_html: {id: "datepicker", placeholder: "When?", autocomplete: "off"} %>
	  
	
	  <div class="submit create">
	    <%= f.button :submit, "+" %>
	  </div>
	  <a data-toggle="collapse" data-target="#add-new" class="cancel" style="cursor:pointer;">Cancel</a>
	<% end %>
</div>