<div class="edit-thing">
	<h1>Edit</h1>
	<div class="page-content">
		<div id="edit">
			<%= simple_form_for :thing do |f| %>
			  <%= f.error_notification %>
			
			  <%= f.input :description, as: :text, input_html: { rows: "1", placeholder: "What?"} %>
			  <%= f.input :the_date, as: :string, input_html: { id: "datepicker", placeholder: "When?"} %>
			  
			
			  <div class="submit create">
			    <%= f.button :submit, "+" %>
			  </div>
			  <%= link_to 'Cancel', root_path %>
			<% end %>
		</div>
	</div>
</div>